body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #182030
    ;
  }
  
  .container {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 48px;
    color: #ffffff;
  }
  
  .sections {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    transition: transform 0.3s ease;
  }
  
  .section:hover {
    transform: scale(1.05);
  }
  
  .section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .btn {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  